<h2 mat-dialog-title>Sign up</h2>
<mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="signUpRequest.username">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="signUpRequest.password" type="password">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="register()">Register</button>
</mat-dialog-actions>