<p class="header-container">
  <mat-toolbar color="primary">
    <button (click)="toggleSidenav()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="header-title">OCR Invoice Automation</span>
    <div>
      <button *ngIf="!hasAnyRole()" (click)="openDialog(true)" mat-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        Login
      </button>
      <button *ngIf="hasAnyRole()" (click)="handleLogout()" mat-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        Logout
      </button>
      <!-- <button (click)="openDialog(false)" mat-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        Register
      </button> -->
    </div>
  </mat-toolbar>
</p>