<p class="header-container">
  <mat-toolbar color="primary">
    <button (click)="toggleSidenav()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="header-title">OCR Invoice Automation</span>
    <span class="example-spacer"></span>
    <button (click)="openDialog(true)" mat-button class="right-button"
      aria-label="Example icon-button with menu icon">
      Login
    </button>
    <button (click)="openDialog(false)" mat-button class="right-button"
      aria-label="Example icon-button with menu icon">
      Register
    </button>
  </mat-toolbar>
</p>